<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace:命名空间-->
<mapper namespace="org.example.dao.TransferMapper">

    <!--
    id:resultMap的唯一标识符
    type:resultMap实际返回的类型
    -->

    <resultMap id="TransferResultMap" type="org.example.pojo.Transfer">
        <!--表字段的主键
        property:类中的属性名
        column:表中的字段名
        -->
        <result property="transfer" column="location"></result>
        <result property="dishb" column="dishb"></result>
        <result property="disdb" column="disdb"></result>
        <result property="dishd" column="dishd"></result>
        <result property="diszn" column="diszn"></result>
        <result property="disxn" column="disxn"></result>
        <result property="disxb" column="disxb"></result>
    </resultMap>

    <select id="findAll" resultMap="TransferResultMap" resultType="org.example.pojo.Transfer">
        select * from transfer
    </select>

    <select id="getTransferByName" resultMap="TransferResultMap" resultType="org.example.pojo.Transfer">
        select * from transfer
        where location = #{transfer}
    </select>

</mapper>
