<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace:命名空间-->
<mapper namespace="org.example.dao.UserMapper">



    <insert id="Adduser">
        insert into user (userid,name,createdtime,modifiedtime,location,phonenumber,permissions)
        values (#{userid},#{name},#{createdtime},#{modifiedtime},#{location},#{phonenumber},#{permissions})
    </insert>

    <update id="Updateuser">
        update user
        set name=#{name},createdtime=#{createdtime},modifiedtime=#{modifiedtime},location=#{location},
            phonenumber=#{phonenumber},permissions=#{permissions}
        where userid=#{userid}
    </update>

    <delete id="DeleteuserById">
        delete from user
        where userid=#{userid}
    </delete>

    <select id="DeleteuserByIds" resultType="org.example.pojo.User">
        delete from user
        where userid in
        <foreach collection="list" open="(" close=")" separator="," item="userid">
            #{userid}
        </foreach>
    </select>
    <select id="QueryuserById" resultType="org.example.pojo.User">
        select * from user
        where userid = #{userid}
    </select>
    <select id="QueryuserAll" resultType="org.example.pojo.User">
        select * from user
    </select>

    <select id="Queryuser" resultType="org.example.pojo.User" parameterType="map">
        select * from user
        <where>
            <!--添加if条件如果参数为空则不拼接sql-->
            <if test="userid != null and userid != '' ">
                and userid like concat('%',#{userid},'%')
            </if>
            <if test="name != null and name != '' ">
                and name like concat('%',#{name},'%')
            </if>
            <if test="createdtime != null and createdtime != '' ">
                and createdtime like concat('%',#{createdtime},'%')
            </if>
            <if test="location != null and location != '' ">
                and location like concat('%',#{location},'%')
            </if>
            <if test="phonenumber != null and phonenumber != '' ">
                and phonenumber like concat('%',#{phonenumber},'%')
            </if>
        </where>
    </select>
    <select id="searchUser" resultType="org.example.pojo.User">
        select * from user
        where concat(userid,name,phonenumber,location) like concat('%',#{search},'%')

        <!--        <where>-->
        <!--            &lt;!&ndash;添加if条件如果参数为空则不拼接sql&ndash;&gt;-->
        <!--            <if test="vehicleid != null and userid != '' ">-->
        <!--                or vehicleid like concat('%',#{search},'%')-->
        <!--            </if>-->
        <!--            <if test="name != null and name != '' ">-->
        <!--                or transferbelong like concat('%',#{search},'%')-->
        <!--            </if>-->
        <!--            <if test="createdtime != null and createdtime != '' ">-->
        <!--                or driverid like concat('%',#{search},'%')-->
        <!--            </if>-->
        <!--        </where>-->
    </select>
    <select id="accountUser" resultType="int">
        select count(*) from user where deleted=0
    </select>

</mapper>