<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace:命名空间-->
<mapper namespace="org.example.dao.VehicleMapper">

    <!--
    id:resultMap的唯一标识符
    type:resultMap实际返回的类型
    -->

    <resultMap id="VehicleResultMap" type="org.example.pojo.Vehicle">
        <!--表字段的主键
        property:类中的属性名
        column:表中的字段名


        -->
        <result property="vehicleid" column="vehicleid"></result>
        <result property="transferbelong" column="transferbelong"></result>
        <result property="driverid" column="driverid"></result>
    </resultMap>

    <select id="findAll" resultMap="VehicleResultMap" resultType="org.example.pojo.Vehicle">
        select * from vehicle
    </select>

    <select id="getVehiclebyId" resultType="org.example.pojo.Vehicle">
        select * from vehicle
        where vehicleid = #{vehicleid}
    </select>

    <insert id="addVehicle" parameterType="org.example.pojo.Vehicle">
        insert into vehicle(vehicleid,transferbelong,driverid)
        values (#{vehicleid},#{transferbelong},#{driverid})
    </insert>

    <update id="deleteVehicle">
        delete from vehicle
        where vehicleid = #{vehicleid}
    </update>

    <update id="updateVehicle" parameterType="org.example.pojo.Vehicle">
        update vehicle set transferbelong=#{transferbelong},driverid=#{driverid}
        where vehicleid = #{vehicleid}
    </update>

</mapper>